[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
discord = "*"
aiohttp = ">=3.7.4"
python-decouple = "*"
discord-py-interactions = "*"
requests = "*"
discord-py-slash-command = "*"

[dev-packages]

[requires]
python_version = "3.8"
